@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

:root{
    --main-font-color: black;
}


body{
    background-image: url(images/pole.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    
}

a{
    text-decoration: none;
    color: black;
}

.head{
    background-image: url(images/ua-flag.png);
    background-position: center;
    background-size: cover;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.headtext{
    font-family: 'Ruslan Display', cursive;
    text-shadow: 2px 2px 4px white;
}

.logination{
    align-content: center;
    display: flex;
    justify-content: end!important;
}

.logination-item{
    position: relative;
    margin: 0 3px;
}

.flex-menu{
    display: flex;
    justify-content: center;
    
}

.flex-menu-item{
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
}

.flex-menu-item:hover{
    background-color: blue;
    color: white;
    text-decoration: none;
}

.advertising{
    display: block;
    background-color: white;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.banner{
    background-image: url(images/barca_real_match.jpg);
    border-radius: 10px;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.grid-banner, .grid-content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px; 
}

.grid-prediction{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    background-color: #00c8f8;
    min-height: 500px;
    border-radius: 10px;
}

.prediction{
    border: 1px solid black;
    font-size: 1rem;
    text-align: left;
    margin: 5px;
    background-color: white;
    min-height: 150px;
}

.sorted-menu{
    display: flex;
    flex-direction: column;
}

.sorted-menu-item{
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
}

.sorted-menu-item a{
    padding-left: 10px;
}

@media(max-width:1280px){
    .advertising{
        display: none;
    }
    
    .grid-banner{
        grid-template-columns: 1fr; 
    }
    
    .grid-content{
        grid-template-columns: 1fr 3fr; 
    }
}

@media(max-width: 880px){
    .head, header div.w-50{
        width: 75%;
    }
    
    .logination{
        justify-content: center;
    }
    
}

@media(max-width: 660px){
    .head, header div.w-50{
        width: 100%;
    }
    
    .grid-content{
        display: block;
    }
    
    .grid-prediction{
        margin-top: 25px;
    }
    
    .sorted-menu-item{
        width: 320px;
    }
}

@media(max-width: 440px){
    .flex-menu{
        flex-direction: column;
        
    }
    
    .flex-menu-item{
        margin-top: 4px;
    }
    
    .grid-content, .grid-prediction{
        display: block; 
    }
}




header nav>div{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    background-color: #00c8f8;
    border-radius: 10px;
    border-color: black;
}

main nav>div{
    min-width: 320px;
    width: 100%;
    position: relative;
    left: 0;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 1rem;
    font: bold;
    background-color: #00c8f8;
    border-color: black;
    border-radius: 10px;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flexmain{
    display: flex;
    flex-direction: column;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.m-0-auto{
    margin: 0 auto;
}

.mg-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mgt-5{
    margin-top: 5px;
}

.mgt-25{
    margin-top: 25px;
}



.prediction-head{
    
}

.flag{
    width: 30px;
}





.h-500{
    height: 500px;
}

.footer{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: 50px;
}

