@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root{
    --main-font-color: black;
}


body{
    background-image: url(images/pole.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    
}

div, nav{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.head{
    background-color: #00c8f8;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.flex-menu{
    display: flex;
    justify-content: center;
    
}

.flex-menu-item{
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
}

.flex-menu-item:hover{
    background-color: blue;
}


@media(max-width: 880px){
    .head, header div.w-50{
        width: 75%;
    }
}

@media(max-width: 660px){
    .head, header div.w-50{
        width: 100%;
    }
}

@media(max-width: 320px){
    .flex-menu{
        flex-direction: column;
        
    }
    
    .flex-menu-item{
        margin-top: 4px;
    }
}


header nav>div{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    background-color: #00c8f8;
    border-radius: 10px;
    border-color: black;
}

main nav>div{
    width: 100%;
    position: relative;
    left: 0;
    margin-bottom: 2px;
    text-decoration: none;
    font-size: 1rem;
    font: bold;
    background-color: #00c8f8;
    border-color: black;
    
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flexmain{
    display: flex;
    flex-direction: column;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.m-0-auto{
    margin: 0 auto;
}

.mg-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mgt-5{
    margin-top: 5px;
}

.mgt-25{
    margin-top: 25px;
}

.prediction{
    border: 1px solid black;
    font-size: 1rem;
    text-align: left;
}

.prediction-head{
    
}

.flag{
    width: 30px;
}

.grid-prediction{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    
}

.advertising{
    background-color: white;
    font-size: 2rem;
    border: 1px solid black;
    text-align: center;
}

.h-500{
    height: 500px;
}

.footer{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: 50px;
}